<?xml version="1.0" encoding="UTF-8"?>
<included>
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
	<include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

	<root level="WARN">
		<appender-ref ref="CONSOLE"/>
	</root>

	<logger name="no.nav.dokdistsentralprint" level="INFO" additivity="false">
		<appender-ref ref="CONSOLE"/>
	</logger>

	<!--<logger name="org.apache.camel.component.file.remote" level="TRACE" additivity="false">-->
		<!--<appender-ref ref="CONSOLE"/>-->
	<!--</logger>-->
	<!--<logger name="org.apache.sshd" level="TRACE" additivity="false">-->
		<!--<appender-ref ref="CONSOLE"/>-->
	<!--</logger>-->
	<!--<logger name="com.github.tomakehurst.wiremock" level="ERROR" additivity="false">-->
		<!--<appender-ref ref="CONSOLE"/>-->
	<!--</logger>-->
	<!--<logger name="org.springframework" level="ERROR" additivity="false">-->
		<!--<appender-ref ref="CONSOLE"/>-->
	<!--</logger>-->
	<!--<logger name="org.apache.activemq" level="ERROR" additivity="false">-->
		<!--<appender-ref ref="CONSOLE"/>-->
	<!--</logger>-->
	<!--<logger name="wiremock.org" level="ERROR" additivity="false">-->
		<!--<appender-ref ref="CONSOLE"/>-->
	<!--</logger>-->
	<!--<logger name="com.jcraft.jsch" level="TRACE" additivity="false">-->
	<!--<appender-ref ref="CONSOLE"/>-->
	<!--</logger>-->

</included>